<footer class="text-center text-white sticky-bottom" style="background-color: #f1f1f1;">
    <div class="container pt-4">

        <section class="mb-4">
            <!-- Twitter -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-twitter fa-lg"></i></a>

            <!-- Discord -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-discord fa-lg"></i></a>

            <!-- Reddit -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" target="_blank" href="https://github.com/Ducolnd/crypto-place" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-reddit fa-lg"></i></a>

            <!-- Github -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-github fa-lg"></i></a>

        </section>
    </div>

    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Made by
        <a class="text-dark" href="https://github.com/Ducolnd"><b>Ducolnd</b></a>
    </div>
</footer>