<div class="container" style="margin-bottom: 750px;">
    <h1>Work in progress</h1>  
    <p>This page is a work in progress. Consider contributing to the development of cryptoplace: <a href="https://github.com/Ducolnd/crypto-place">repository</a> </p>
</div>