<div class="container">
    <h1>Welcome to Crypto Place</h1>  
    <div id="instructions">
        <ul>
            <li>Select a color on the left. Pan with left mouse</li>
            <li>Click right mouse to place a pixel. Your placed pixels are not definite yet</li>
            <li>The pixels become definite once you submit the transaction and confirm it, by clicking the button</li>
            <li>You can submit up to 100 pixels per transaction. You can remove a pixel by clicking it on the right</li>
        </ul>
    </div>
</div>

{{!-- React content --}}
<div id="root">

</div>

{{!-- CSS --}}
<link rel="stylesheet" href="css/main.css">

{{!-- JavaScript --}}
<script src="dist/canvas.js"></script>