{{>header}}

<div id="test" class="container">
    <h1>Welcome to Crypto Place</h1>  
    <div id="instructions">
        <ul>
            <li>You can select a color below. You can pan using middle mouse</li>
            <li>Click to place a pixel. Your placed pixels are not definite yet</li>
            <li>The pixels become definite once you submit the transaction by clicking the button. You can submit up to 100 pixels per transaction</li>
            <li>You can remove a pixel by clicking it on the right or by holding middle mouse</li>
        </ul>
    </div>
</div>


<div id="pageMain">
    <div id="cryptoContainer">
        <canvas id="cryptoplace" width="1024" height="1024" >Your browser does not support HTML5 canvas, though you still can place pixels by writing your own raw transaction</canvas>
    </div>

    <div id="infobar">
        <p><b>Buffered Pixels:</b></p>
        <div id="bufferedPixels">

        </div>

        <button type="button" class="btn btn-success" id="submitPixels">Submit Pixels</button>

        <p><b>Pixel Info</b></p>
        <div id="pixelInfo">
            <p id="pixelInfoText">Mousepos: x <span id="mousex"></span> y <span id="mousey"></span> Zoom: <span id="zoom"></span></p>
            <p>Pixel placed by: <span id="pixelPlacedBy"></span></p>
            <p>Pixel history</p>
        </div>


    </div>
</div>

<div class="container">
    <div id="colors">
        <div><h1>Select Color</h1><p> (Click)</p></div>
    </div>
</div>