<link rel="stylesheet" href="/css/homepage.css">

<div id="intro-example" class="p-5 text-center bg-image"
    style="background-image: url('/images/cardano.png');">
    <div class="mask d-flex justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.4);">
        <div class="">
            <div class="text-white">
                <h1 class="mb-3">Welcome to Cryptoplace!</h1>
                <h5 class="mb-4">A drawable 1024x1024 pixel grid powed by the Cardano blockchain</h5>
                <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A"
                    role="button" rel="nofollow" target="_blank">Place pixels</a>
                <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/"
                    target="_blank" role="button">Learn</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="text-center mt-5">How does it work?</h1>

    <div id="how">
        <div class="card-group mt-3">
            <div class="card">
                <img src="/images/nami.png" alt="">

                <div class="card-body">
                    <h5 class="card-title">Connect wallet</h5>
                    <p class="card-text">Connect with <a target="_blank" href="https://namiwallet.io/">Nami Wallet</a> and transfer some funds</p>
                </div>
            </div>

            <div class="card">
                <img src="/images/cardano.png" alt="">

                <div class="card-body">
                    <h5 class="card-title">Place pixels</h5>
                    <p class="card-text">Start placing pixels with right mouse button.</p>
                </div>
            </div>

            <div class="card">
                <img src="/images/canvas.png" alt="">

                <div class="card-body">
                    <h5 class="card-title">Confirm</h5>
                    <p class="card-text">Finally, make your pixels definite by confirming your transaction.</p>
                </div>
            </div>
        </div>
    </div>
</div>