<link rel="stylesheet" href="/css/homepage.css">

<div id="intro-example">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img id="dano" src="images/cardanologo.png" alt="cardano-logo">
            </div>
            <div class="col">
                <img id="icon" src="favicon.ico" alt="cardano-logo">
            </div>

        </div>
    </div>

    <div class="container">
        <h3 class="text-center mt-4">Create your own decentralized artwork on a 1024x1024 grid, powered by the
            Cardano Blockchain
        </h3>
        <div class="text">
            <p class="text-center">
                On Cryptoplace you can create your own artwork on a decentralized canvas.
                Powered by the Cardano Blockchain meaning that the pixels placed by you are definite and stored on the
                blockchain forever. Transactions are done via your own wallet such as Nami wallet or CCvault.
                Cryptoplace has no access to your wallet whatsoever.
            </p>
            <a href="/place"><button type="button" class="btn btn-primary">Start placing pixels</button></a>
        </div>
    </div>
</div>

<div class="container">
    <div id="supported">
        <h3 class="text-center">Supported Wallets</h3>

        <div class="wallets row">
            <div class="wallet col-sm">
                <img src="images/namilogo.png" alt="">
                <a target="_blank" href="https://namiwallet.io/">
                    <p class="text-center mt-1">Nami Wallet</p>
                </a>
            </div>
            <div class="wallet col-sm">
                <img src="images/flintlogo.jpg" alt="">
                <a target="_blank" href="https://flint-wallet.com/">
                    <p class="text-center mt-1">Flint</p>
                </a>
            </div>
            <div class="wallet col-sm">
                <img src="images/ccvaultlogo.jpg" alt="">
                <a target="_blank" href="https://ccvault.io/app/mainnet/welcome">
                    <p class="text-center mt-1">CCvault</p>
                </a>
            </div>
        </div>
    </div>

    <div id="how">
        <h1 class="text-center mt-5">How to get started</h1>
        <div class="card-group mt-3">
            <div class="card">
                <div class="bg-image">
                    <img src="images/nami.png" class="img-fluid" alt="">
                </div>

                <div class="card-body">
                    <h5 class="card-title">Connect wallet</h5>
                    <p class="card-text">Start by connecting any of the above wallets
                        with cryptoplace.games. Make sure you install the extension for the browser you use.
                        Next, create a new wallet, write down your seed phrase and finally transfer
                        some funds (i.e. 20₳).</p>
                </div>
            </div>

            <div class="card">
                <div class="bg-image">
                    <img src="images/cardano.png" class="img-fluid" alt="">
                </div>

                <div class="card-body">
                    <h5 class="card-title">Place pixels</h5>
                    <p class="card-text">
                        Once you have authorized cryptoplace.games, you can start placing pixels!
                        Head over to the <a href="/place">canvas</a>, place pixels using right mouse click and move
                        around using left mouse click.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="bg-image">
                    <img src="images/testnet.png" class="img-fluid" alt="">
                </div>

                <div class="card-body">
                    <h5 class="card-title">Confirm</h5>
                    <p class="card-text">
                        Finally, permanently store your pixels on the Cardano blockchain by submitting them and by
                        finalizing the transaction. It might take up to 2 minutes for your pixels to be visible
                        for everyone.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="why" class="">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center">Why decentralized?</h1>

                <p class="text-center">
                    You might rightfully wonder: why does this need to be decentralized?
                    Although cryptoplace would perfectly function using a regular, centralized system, you would never
                    have full
                    certainty that the website will be maintained for ever. A decentralized application does not even
                    need a website to function.
                    In fact, you don't even need to be on cryptoplace.games to place pixels. As long as the right amount
                    of ADA is sent to the
                    right address with the correct metadata, the pixels will become visible. <br><br>
                    Anyone can generate their own canvas by reading the blockchain at any given point, without any
                    interaction with cryptoplace. This also means that all
                    pixels will be stored on the blockchain for as long as Cardano continous to exist.
                </p>
            </div>
            <div class="col-md-6"></div>
        </div>

        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h1 class="text-center">What does it cost?</h1>

                <p class="text-center">
                    Each pixel submitted costs 0.1 ADA (₳). This is to prevent spam and misabuse as it is impossible to
                    prevent
                    this because of the decentralized nature of cryptoplace and Cardano.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center">How does it work?</h1>

                <p class="text-center">
                    Cryptoplace pixel data is stored on the Cardano blockchain by means of <a target="_blank"
                        href="https://developers.cardano.org/docs/transaction-metadata/">Transaction metadata</a>.
                    A secondary (server-side) <a target="_blank"
                        href="https://github.com/Ducolnd/crypto-place/blob/master/crypto.js">application</a>
                    continiously queries the blockchain
                    for new transactions (pixels) on a specific address. Once it receives a new transaction, it reads
                    its metadata and modifies the canvas. To verify the canvas youself,
                    take a look at the <a target="_blank" href="https://github.com/Ducolnd/crypto-place">github
                        repository</a>
                </p>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>

    <h3 class="text-center mt-4">If you have additional questions, make sure to check out the <a href="/faq">FAQ</a>
    </h3>
</div>