<div id="test" class="container">
    <h1>Welcome to Crypto Place</h1>  
    <div id="instructions">
        <ul>
            <li>You can select a color below. You can pan using middle mouse</li>
            <li>Click to place a pixel. Your placed pixels are not definite yet</li>
            <li>The pixels become definite once you submit the transaction by clicking the button. You can submit up to 100 pixels per transaction</li>
            <li>You can remove a pixel by clicking it on the right or by holding middle mouse</li>
        </ul>
    </div>
</div>

<div id="root">

</div>

{{>scripts/homepageScripts}}
