{{>header}}

<div id="test" class="container">
    <h1>Welcome to the home page!</h1>  
</div>

<div>
    Mousepos x <span id="mousex"></span><br>
    Mousepos y <span id="mousey"></span>
</div>
{{!-- So we can detect mouse scroll --}}
<canvas id="cryptoplace" width="128" height="128" >Your browser does not support HTML5 canvas, though you still can place pixels</canvas>

<div id="colors">
    <h1>Select Color</h1>
    <p>(Click)</p>
</div>
