<div class="container">
    <h1>Welcome to Crypto Place</h1>  
    <div id="instructions">
        <ul>
            <li>Select a color on the left. Pan with left mouse</li>
            <li>Click right mouse to place a pixel. Your placed pixels are not definite yet</li>
            <li>The pixels become definite once you submit the transaction and confirm it by clicking 'Submit Pixels'</li>
            <li>You can submit up to 100 pixels per transaction. Pixels can be removed by clicking them a second time.</li>
        </ul>
    </div>
</div>

{{!-- React content --}}
<div id="root">
    <h2>Loading canvas...</h2>
</div>

{{!-- CSS --}}
<link rel="stylesheet" href="css/main.css">

{{!-- JavaScript --}}
<script src="dist/canvas.js"></script>