{{>header}}

<h1>Wallet</h1>

<script src="./node_modules/@emurgo/cardano-serialization-lib-browser/cardano_serialization_lib.js"></script>
{{!-- <script src="js/bundle.js"></script> --}}
{{!-- <script src="js/wallet.js"></script> --}}