#intro-example {
    margin-bottom: 100px;
}

#intro-example img {
    height: 300px;
    margin: auto;
    display: block;
}

#intro-example button {
    margin: 0 auto;
    display: block;
}

#supported .wallets {
    max-width: 500px;
    margin: 0 auto;
}

#supported  .wallet img {
    width: 75px;
    display: block;
    margin: 0 auto;
}

#supported a {
    color: black;
}

#how {
    margin-top: 70px;
}

.card .bg-image  {
    height: 240px;
}

#why {
    margin-top: 50px;
}