#intro-example {
    margin-bottom: 100px;
}

#intro-example .text {
    max-width: 65%;
    min-width: 400px;
    margin: 0 auto;
}

.images {
    margin: 0 auto;
    width: fit-content;
}

#intro-example img {
    height: 340px;
    margin: 0 auto;
    display: block;
}

@media all and (max-width: 749px) {
    #intro-example img {
        height: 175px;
        margin: 0 auto;
        display: block;
    }
}

#icon {
    image-rendering: pixelated;
}

#intro-example button {
    margin: 0 auto;
    display: block;
}

#supported .wallets {
    max-width: 500px;
    margin: 0 auto;
}

#supported  .wallet img {
    width: 75px;
    display: block;
    margin: 0 auto;
}

#supported a {
    color: black;
}

#how {
    margin-top: 70px;
}

.card .bg-image  {
    height: 240px;
}

#why {
    margin-top: 50px;
}