#cryptoplace {
    width: 80%;
    height: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    /* image-rendering: crisp-edges; */

    background: white;
    border: 2px black solid;

    float: left;
}

#colors {
    width: 20%;
    float: right;
    text-align: center;
}

.colorbox {
    height: 40px;
    
}