#cryptoplace {

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    /* image-rendering: crisp-edges; */

    background: white;
}

#cryptoContainer {
    margin: 0;
    border: 2px black solid;
    overflow: hidden;
    height: 500px;
}

#bufferedPixels {
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    width: 60%;
    margin: auto;    
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#bufferedPixels::-webkit-scrollbar {
    display: none;
}

#colors {
    width: 100%;
    float: left;
    text-align: center;
}

.pixelentry {
    border-bottom: 1px black solid;
    cursor: pointer; 
}

/* Color of pixel */
.pixelentry span {
    font-size: 23px;
    margin-right: 10px;
}

#sidebar button {
    margin: 10px 0 10px 0;
}

#sidebar {
    text-align: center;
}

#pixelInfo p {
    margin: 0;
}

#pixelInfoText {
    font-size: 12px;
}

#pageMain {
    width: 100%;
    overflow: hidden;
}

/* Colorbar */

#colors h1, #colors p {
    display: inline;
    vertical-align: top;
    line-height: 28px;
}

#colors div {
    margin: 10px 0 10px 0;
}

.colorbox {
    height: 35px;
    width: 60px;
    display: inline-block;
    cursor: pointer;
}